.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

.theme-toggle {
  display: flex;
  flex-direction: row-reverse;
}
body.light {
  background-color: #ffffff;
  color: #1a1a1a;
}

body.dark {
  background-color: #121212;
  color: #f1f1f1;
}
body.dark p {
  color: black;
}
body.dark h3 {
  color: black;
}
